{% extends "base.html" %}

{% block content %}


<h1>KONTROLLSYSTEM</h1>
<div class="box">
  <h2> Meny </h2>
<table>
  <tr>
    <th align= "left">Navn</th>
    <th align = "left">Pris</th>
    <th align= "left">Antall solgt</th>
    <th></th>
    <th></th>
  </tr>
  <!-- oppretter en tabell med produktene -->
  {% for i in products %}

  <tr>
    <td align="left">{{i.productName}}</td>
    <td align="left">{{i.productPrice}} kr</td>
    <td align="left">{{i.numbersSold}}</td>
    <!--legger inn slett-knapp -->
    <td align ="center">
      <form method="POST" action=" /delete/{{ i.id }}/ "> {% csrf_token %}
        <button class="btn" type="submit">Slett</button>
      </form>
    </td>
    <td align ="center">
      <form method="POST" action=" /buy/{{ i.id }}/ "> {% csrf_token %}
        <button class="btn" type="submit">Kjøp</button>
      </form>
    </td>
  </tr>
    {% endfor %}
    <td><strong>Penger i kassa: {% with products|first as first %}{{  first.belongsTo.cash }}{% endwith %} kr</strong></td>


</div>

{% endblock %}
